@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gray-900: #181d27;
  --main-green: #039122;
  --white: #ffffff;
  --brown-800: #ca7f4d;
  --gray-400: #a4a7ae;
  --light-green:#DDFDE4;
  --gray-700:#414651;
  --gray-800:#252B37;
  --main-green-200:#D7FFE0;
}
body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  font-weight: 500;
  font-size: 18px;
  padding: 16px ;
}

.nav-link {
  color: var(--gray-900);
}
.sign-up-btn {
  background-color: var(--main-green);
  color: var(--white);
  border-radius: 6px;
  padding: 11px 42px;
  border: none;
  margin-right: 20px;
}
.sign-in-btn {
  color: var(--brown-800);
  border-radius: 6px;
  padding: 11px 19px;
  border: 1px solid var(--brown-800);
}

/* main -header */
header {
  background-image: url(assets/hero-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  /* position: relative; */
}

header h1{
    color: var(--light-green);
    max-width: 60%;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

header span{
    padding: 2px 10px;
    background-color: var(--brown-800);
    font-weight: 700;
    font-size: 50px;
    border-radius: 11px;
}

header p{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--light-green);
    max-width: 55%;
    padding: 15px 0;
}

.sign-in-btn-hero{
    color: var(--brown-800);
  border-radius: 6px;
  padding: 11px 42px;
  border: 1px solid var(--brown-800);
  background-color: transparent; 
}
.sign-up-btn-hero{
background-color: var(--main-green);
  color: var(--white);
  border-radius: 6px;
  padding: 11px 42px;
  border: none;
  margin-right: 20px; 
}

.message-sqr-wrapper{
    /* position: absolute; */
    position: fixed;
    right: 70px;
    /* bottom: -20; */
}

/* section-2 */
.section-2-div{
    padding: 40px 0;
}

.section-2-div h4{
    color: var(--gray-900);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
}
.section-2-div h1{
   font-weight: 700;
   font-size: 48px;
   color: var(--brown-800);
   max-width: 50%;
   margin: auto;
   padding: 20px 0;
}
.section-2-div p{
   font-weight: 500;
   font-size: 20px;
   color: var(--gray-700);
   max-width: 40%;
   margin: auto;
}
.section-2-div-2{
    padding-bottom: 20px;
}
.section-2-div-2 h4{
    font-weight: 600;
    font-size: 24px;
    color: var(--gray-900);
    padding: 10px 0;
}
.section-2-div-2 p{
    font-weight: 500;
    font-size: 16px;
    color: #474A47;
}
/* section-3 */
.section-3 h4{
    color: var(--gray-800);
    font-weight: 700;
    font-size: 16px;
}
.section-3 h2{
    color: var(--brown-800);
    font-weight: 700;
    font-size: 48px;
}

.section-3-parent-div h3{
    color: var(--gray-900);
    font-size: 18px;
    font-weight: 600;
}
.section-3-parent-div p{
    color: var(--gray-700);
    font-weight: 500;
    font-size: 16px;
}
.section-3-parent-div .cards{
    height: 222px;
}

.scroll-x {
  overflow-x: auto;
  flex-wrap: nowrap; 
  }

.scroll-x img {
  flex-shrink: 0;
  border-radius: 100%;
  /* width: 22%; */
}

@media(max-width:890px){
    .section-2-div h1{
  
   max-width: 100%;
   margin: auto;
}
.section-2-div p{
  
   max-width: 100%;
   margin: auto;
}
/* main -header */
header {
  min-height: 50vh;
}

header h1{
    max-width: 100%;
}

header p{
    max-width: 100%;
}
}

@media (max-width: 500px) {
    .navbar {
    padding: 20px 0;
  }
  /* main -header */
  header {
    background-image: url(assets/hero-img-mobile.png);
    padding: 4rem 0;
    }
  header h1{
    max-width: 100%;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
header span{
    padding: 2px 10px;
    font-weight: 700;
    font-size: 30px;
}
header p{
    font-size: 22px;
    line-height: 28px;
    max-width: 100%;
    padding: 15px 0;
    text-align: center;
}
.btn-hero-wrapper{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.sign-up-btn-hero{
    min-width: 100%;
}
/* section-2 */
.section-2-div{
    padding: 25px 0;
}
.section-2-div h4{
    font-size: 14px;
}
.section-2-div h1{
   font-size: 20px;
   max-width: 100%;
}
.section-2-div p{
   font-size: 16px;
   max-width: 100%;
}
.section-2-div-2{
    text-align: center;
}
.section-2-div-2 h4{
    font-size: 20px;
}
.section-2-div-2 p{
    font-size: 14px;
}
/* section-3 */
.section-3{
    background-color: var(--main-green-200);
    margin: 15px 0;
}

.section-3 h4{
    font-size: 14px;
}

.section-3 h2{
    font-size: 18px;
}

.section-3-parent-div h3{
    font-size: 20px;
    text-align: center;
}
.section-3-parent-div .cards{
    height: 150px;
}
.scroll-x img {
  flex-shrink: 0;
  border-radius: 100%;
  width: 24%;
}

}
